<section class="intro">
    <div class="container">
        <h1 class="title animate__animated animate__fadeIn">Hi, I'm Andreea,</h1>
        <div class="subtitle animate__animated animate__fadeIn">- Front-End Developer -</div>
        <div class="text animate__animated animate__fadeIn animate__delay-1s">
            <p>My main area of expertise is within the front-end field. My experience includes: programming in <strong>JavaScript</strong> and <strong>TypeScript</strong> currently working with <strong>Angular</strong>. I'm eager to develop my knowledge regarding these technologies and also broaden my experience in relation to new ones.</p>
            <p>I'm {{ onDisplayCurrentAge('11/30/1993') }} years old and beside programming, I like to travel, totally in love with cats and dogs and also have drawing as a hobby.</p>
        </div>

        <div class="animate__animated animate__fadeIn animate__delay-2s">
            <button class="btn-access animate__animated animate__pulse animate__slow animate__infinite" (click)="onShow('menu', false)">Find out more</button>
        </div>
        
        <ul class="inline">
            <li class="animate__animated animate__fadeIn animate__delay-3s"><a class="colorized-text" href="tel:+40771093613">&#9742; Give me a call</a></li>
            <li class="animate__animated animate__fadeIn animate__delay-4s"><a class="colorized-text" href="mailto:a.dragu93@gmail.com">&#9993; Send me a mail</a></li>
            <li class="animate__animated animate__fadeIn animate__delay-5s"><a class="colorized-text" href="https://www.linkedin.com/in/andreea-dragu-249570233/" target="_blank">&#9822; LinkedIn Profile</a></li>
        </ul>
    </div>
</section>