<main class="wrapper">
    <div class="content animate__animated animate__zoomIn">
        <app-hero *ngIf="hero" (navigationInfo)="show($event)"></app-hero>
        <app-menu *ngIf="menu" (navigationInfo)="show($event)"></app-menu>
        <app-skills *ngIf="pages.active && pages.items.skills" (navigationInfo)="show($event)"></app-skills>
        <app-work *ngIf="pages.active && pages.items.work" (navigationInfo)="show($event)"></app-work>
        <app-education *ngIf="pages.active && pages.items.education" (navigationInfo)="show($event)"></app-education>
        <app-projects *ngIf="pages.active && pages.items.myProjects" (navigationInfo)="show($event)"></app-projects>
    </div>
</main>
